.plants-hero {
    display: flex;
    overflow: hidden;
    padding-top: 80px;
    padding-bottom: 50px;
}

/* Make the plants-hero content flexible and centered */
.plants-hero-content {
    flex: 1;
    display: flex;
    position: relative;
    padding: 20px 40px 20px 40px;
    margin-bottom: 20px;
    justify-content: space-between;
    flex-direction: column;
}

/* Style the plants-hero info section with some padding */
.plants-hero-content-info h1 {
    padding-bottom: 20px;

    font-size: 49px;
    font-family: var(--main_header-font);
    color: var(--dark-green);
}

.plants-hero-content-info p {
    padding-bottom: 10px;

    font-size: 20px;
    font-family: var(--header-font);
    color: #000;
}

/* Make the plants-hero image flexible and responsive */
.plants-hero-image {
    display: flex;
	position: relative;
	max-width: 46em;
    height: auto;
    padding: 20px 40px 0px 40px;
}


/* Style the plants-hero image with an aspect ratio, drop shadow, and round corners */
.plants-hero-image img {
	flex: 1 0 100%;
	object-fit: cover;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
	border-radius: 0.5rem;
    aspect-ratio: 16/9;
	overflow-x: auto;
}

/* Use media queries to make the plants-hero section responsive for different screen sizes */
@media only screen and (max-width: 1325px) and (min-width: 800px) {

    /* Make the plants-hero container vertical */
    .plants-hero {
      flex-direction: column;
    }

    /* Center the plants-hero info section text */
    .plants-hero-content-info h1 {
        text-align: center;
    }
    
    .plants-hero-content-info p {
        text-align: center;
    }
    

    /* Center the plants-hero image */
    .plants-hero-image {
        max-width: 48em;
        height: auto;
        margin: auto;
    }

  }

  @media only screen and (max-width: 800px) {

     /* Make the plants-hero container vertical */
    .plants-hero {
      flex-direction: column;
    }

    /* Center the plants-hero info section text */
    .plants-hero-content-info h1 {
        text-align: center;
    }
    
    .plants-hero-content-info p {
        text-align: center;
    }
    

    /* Adjust the plants-hero image size */
    .plants-hero-image {
        max-width: 48em;
        height: auto;
       
    }

  }